/* este es el code del time entry */

@-moz-document domain('pte.publicisgroupe.com'), url-prefix('https://pte.publicisgroupe.com') {
  
    #dgTimesheet tr:nth-child(even) .grid-labelitem-cell, 
    #dgTimesheet tr:nth-child(even) .gd-it-day-emp, 
    #dgTimesheet tr:nth-child(even) .gd-it-day-emp INPUT  
    {
        background: #ADD8E6;
    }

    #dgTimesheet tr:hover .grid-labelitem-cell, 
    #dgTimesheet tr:hover .gd-it-day-disabled,
    #dgTimesheet tr:hover .gd-it-day-disabled INPUT,
    #dgTimesheet tr:hover .gd-it-day-emp,
    #dgTimesheet tr:hover .gd-it-day-emp INPUT
    {
       background-color: lightyellow;
    }
 
}

/* este es el code del approval  */

@-moz-document domain('pta.publicisgroupe.com/'), url-prefix('https://pta.publicisgroupe.com/') {
    
    .tablehead,
    #dlTimesheetRows__ctl1_txtWorkDateFooter,
    #dlTimesheetRows__ctl0_txtWorkDateFooter,
    #dlTimesheetRows__ctl3_txtWorkDateFooter,
    #dlTimesheetRows__ctl4_txtWorkDateFooter,
    #dlTimesheetRows__ctl2_txtWorkDateFooter
    
    {
    display:none;
    }
    
    #dlTimesheetRows .panel .tableitem td:nth-child(2), 
    #dlTimesheetRows .tableitemalternate td:nth-child(2),
    #dlTimesheetRows .panel .tableitem td:nth-child(4),
    #dlTimesheetRows .tableitemalternate td:nth-child(4),
    #dlTimesheetRows .panel .tableitem td:nth-child(5),
    #dlTimesheetRows .tableitemalternate td:nth-child(5),
    #dlTimesheetRows .panel .tableitem td:nth-child(6),
    #dlTimesheetRows .tableitemalternate td:nth-child(6)

    {
     display:none;  
    }
    #TSRowsDIV #dlTimesheetRows tr:nth-child(-n+6) 
    {
        float:left; 
        width:240px;
      
    }
     
    #TSRowsDIV #dlTimesheetRows tr .panel 
    {
        border:none;
    }
    
}

