
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

td {
	/*background-color: #ccc !important;*/
	font-family: 'Open Sans', sans-serif;
}



#statusBox {
	width: 42px;
	height: auto;
	border-radius: 5px;
	background-color: #F3F3F3;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	opacity: 0.7;
	position: absolute;
	top: 240px;
	left: 990px;
	padding: 10px;
	font-size: 12px;
	-webkit-box-shadow: 2px 2px 2px 0px rgba(163,163,163,1);
	-moz-box-shadow: 2px 2px 2px 0px rgba(163,163,163,1);
	box-shadow: 2px 2px 2px 0px rgba(163,163,163,1);
}

.circle {
	width:38px;
	height:38px;
	border-radius:50%;
	font-size:12px;
	color:#fff;
	line-height:38px;
	text-align:center;
	background:#FEFEFE;
	border: 1px solid #ddd;
	display: block;
	margin-bottom: 10px;
}

.red {
	color: red;
}

.green {

}

.blue {

}

.yellow {

}

#dgTimesheet tbody > tr:nth-child(even):not(:last-child) > td:not(.gd-it-day-disabled):not(.grid-rowtotal-cell):not(.gd-it-day-disabled-cmt):not(.gd-it-day-emp-cmt),
#dgTimesheet tbody > tr:nth-child(even):not(:last-child) > td:not(.gd-it-day-disabled):not(.grid-rowtotal-cell):not(.gd-it-day-disabled-cmt):not(.gd-it-day-emp-cmt) > input{
	background-color: #D7F2FC;
}

#dgTimesheet tbody > tr:nth-child(odd):not(:last-child) > td:not(.gd-it-day-disabled):not(.grid-rowtotal-cell):not(.gd-it-day-disabled-cmt):not(.gd-it-day-emp-cmt),
#dgTimesheet tbody > tr:nth-child(odd):not(:last-child) > td:not(.gd-it-day-disabled):not(.grid-rowtotal-cell):not(.gd-it-day-disabled-cmt):not(.gd-it-day-emp-cmt) > input{
	background-color: #FFF;
}


#dgTimesheet tbody > tr:not(:last-child):hover > td:not(.gd-it-day-disabled):not(.grid-rowtotal-cell):not(.gd-it-day-disabled-cmt):not(.gd-it-day-emp-cmt),
#dgTimesheet tbody > tr:not(:last-child):hover > td:not(.gd-it-day-disabled):not(.grid-rowtotal-cell):not(.gd-it-day-disabled-cmt):not(.gd-it-day-emp-cmt) > input{
	background-color: LightGrey;
}



/* 
 * FOR PM's APPROVAL PANEL ========================= 
 * pta.publicisgroupe.com
 * Author: Fabian Brenes;
 */

/* este es el code del time entry */
/*
#dgTimesheet tr:nth-child(even) .grid-labelitem-cell, 
#dgTimesheet tr:nth-child(even) .gd-it-day-emp, 
#dgTimesheet tr:nth-child(even) .gd-it-day-emp INPUT  
{
    background: #ADD8E6;
}

#dgTimesheet tr:hover .grid-labelitem-cell, 
#dgTimesheet tr:hover .gd-it-day-disabled,
#dgTimesheet tr:hover .gd-it-day-disabled INPUT,
#dgTimesheet tr:hover .gd-it-day-emp,
#dgTimesheet tr:hover .gd-it-day-emp INPUT
{
   background-color: lightyellow;
}
*/

/* este es el code del approval  */

.tablehead,
#dlTimesheetRows__ctl1_txtWorkDateFooter,
#dlTimesheetRows__ctl0_txtWorkDateFooter,
#dlTimesheetRows__ctl3_txtWorkDateFooter,
#dlTimesheetRows__ctl4_txtWorkDateFooter,
#dlTimesheetRows__ctl2_txtWorkDateFooter

{
display:none;
}

#dlTimesheetRows .panel .tableitem td:nth-child(2), 
#dlTimesheetRows .tableitemalternate td:nth-child(2),
#dlTimesheetRows .panel .tableitem td:nth-child(4),
#dlTimesheetRows .tableitemalternate td:nth-child(4),
#dlTimesheetRows .panel .tableitem td:nth-child(5),
#dlTimesheetRows .tableitemalternate td:nth-child(5),
#dlTimesheetRows .panel .tableitem td:nth-child(6),
#dlTimesheetRows .tableitemalternate td:nth-child(6)

{
 display:none;  
}
#TSRowsDIV #dlTimesheetRows tr:nth-child(-n+6) 
{
    float:left; 
    width:240px;
  
}
 
#TSRowsDIV #dlTimesheetRows tr .panel 
{
    border:none;
}


